
.color{
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 20px;
}

.canvas{
    margin-bottom: 10px;
}

h2.word{
    color: yellow;
    margin-top: 3px;
}

input[type="text"]{
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    width:300px;
}

/*mobile responsiveness*/
@media screen and (max-width:767px) {

    .canvas{
        width:250px !important;
    }


    input[type="text"]{
        width:250px;
        margin-bottom: 20px;
    }

    h1.waitingDraw{
        letter-spacing:5px;

    }

  
}